.list-group-item {
  line-height: 2.5;
}

.instructions {
  font-size: 10pt;
  color: red;
}

#page-title {
  margin: 20px;
}

#edit-modal {
  width: 60%;
  margin: 30px auto;
}

.modalView1 {
  margin: 0 20px;
}

.modalView2 {
  /* display: none; */
  margin: 0 20px;
}

#page-title {
  margin: 20px auto;
}

#delete-all {
  margin-top: 20px;
}

#exist-title {
  margin: 20px 0;
}

#main-form {
  padding: 14px;
  border: 1px outset;
  margin: 20px 0;
  max-height: 650px;
}

#users-div {
  padding: 14px;
  border: 1px solid;
  margin: 20px 0;
  min-height: 650px;
}

#user-card {
  width: 500px;
  margin: 0 auto;
}

.user-item {
  color: blue;
}

.user-item:hover {
  color: red;
}

.edit {
  margin: 0 6px;
}
